<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css"/>
    <link rel="stylesheet" href="css/bootstrap-rtl.css"/>
    <link rel="stylesheet" href="css/font-awesome.css"/>

    <title><%=pageTitle%></title>
</head>
<body>
    <form action="/admin/add-todo" method="POST">
        <input name="todo" type="text"/>
        <button type="submit">save</button>


    </form>
    <p>انجلم شده</p>
    <p>باقی ملندع</p>

</body>
</html>